
{{! instructions can go here if and when I decide to inject some content }} 

{{#mugiwara}}
<div>
  
  {{#strong}}
  <h1>{{fullName}}</h1>
  {{/strong}}

  {{{JOLLYROGER}}}
  
  <p>

  {{^club_Member}}
  {{ IF_crew }}
  {{/club_Member}}

  {{^th_Member}}
  {{allyDeck}} {{ normalJob }}
  {{/th_Member}} 
  
  {{{bounty_Description}}} 

  {{^club_Member}}
  {{{SAFER_url}}}
  {{/club_Member}}

  {{^th_Member}}
  {{{UNL_deck}}}
  {{/th_Member}}

  </p>

</div>
{{/mugiwara}}